extends ../shared/template
block content

  #wrap
    .row
        .col-lg-12
          h1.page-header

  each project in projects
    .row.index
      .col-lg-6.col-md-6
        a(href='/projects/#{project._id}')
          each photo in project.photos
            if(photo.isPrimary)
              img.photo.img-responsive(src= "#{photo.file}")
      .col-lg-5.col-md-5
        h3= project.title
        p= project.description
        a.btn.btn-primary(href='#{project.app}')
          | View Project
          span.glyphicon.glyphicon-chevron-right

block scripts
