extends ../shared/template
block content

  #wrap
    //- h1 Portfolio
    .row
        .col-lg-12
          h1.page-header
            //- small Project List


  each project in projects
    .row
      .col-lg-6.col-md-6
        a(href='/projects/#{project._id}')
          each photo in project.photos
            if(photo.isPrimary)
              .photo.img-responsive(style='background-image:url("#{photo.file}")')
      .col-lg-5.col-md-5
        h3= project.title
        p= project.description
        a.btn.btn-primary(href='/projects/#{project._id}')
          | View Project
          span.glyphicon.glyphicon-chevron-right

  //- #projects
  //-   each project in projects
  //-     .project
  //-       h1: a(href='/projects/#{project._id}')= project.title
  //-       //- h3 #{project.photos.length} Photos
  //-       h3= project.description
  //-       h3= project.date
  //-       h3= project.tags
  //-       ul
  //-         li: a(href=project.git) Github
  //-         li: a(href=project.app) Amazon EC2
  //-       form(method='POST', action='/projects/#{project._id}')
  //-             input(type='hidden', name='_method', value='DELETE')
  //-             button.delete Delete

block scripts
